formatter.name: pretty

suites:
    container_suite:
        namespace: PhpPackages\Container
        src_path: src
        spec_path: .
        spec_prefix: specs

extensions:
    - PhpSpec\Extension\CodeCoverageExtension

code_coverage:
    format:
        - html
    output:
        html: coverage/

# vim: syntax=yaml
